@import "tailwindcss";

:root {
  --background: #fbf2dd;
  --foreground: #2d2d2d;
  --primary: #828d65;
  --primary-light: #a4af8a;
  --primary-dark: #6a7353;
  --secondary: #f5e6c8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fbf2dd;
    --foreground: #2d2d2d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
